* {
  box-sizing: border-box;
  margin: 0;
  padding : 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app:before {
  content: '';
  background: url('./assets/food.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.app .field {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.app .ingredient {
  padding: 1rem;
}

.app .cuisine {
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.8);
  background: rgba(255, 255, 255, 0.1);
  color:#f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  top: 0%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.app .search {
  background: darkblue;
  color: white;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  position: relative;
  top: 15%;
  width: 190px;
  height: 50px;
}

@media (max-width: 700px) {
  .field {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .app .ingredient {
    position: relative;
    top: 17%;
  }

  .app .cuisine {
    position: relative;
    top: 13%;
  }

  .app .top {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 45px;
    position: relative;
    top: 2%;
  }
}

.app .filter {
  background: darkblue;
  color: white;
  padding: .5rem;
  font-size: 1.2rem;
  border: 1px solid;
  cursor: pointer;
  position: relative;
  top: 15%;
  width: 50px;
  height: 50px;
}

.filter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  pointer-events: none;
}

 .filter-content {
  pointer-events: auto;
  position: relative;
  top: 8%;
  left: 20.45%;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 141px;
  cursor: pointer;
 }

.filter-content p {
  font-size: 20px;
  color: black;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.filter-content p:hover {
  background-color: #ddd;
}

@media (max-width: 700px) {
  .filter-overlay {
    justify-content: center;
    align-items: center;
  }

  .filter-content {
    position: absolute;
    top: 49px;
    left: 0px;
  }

  .app .filter {
    top: 0;
    position: relative;
    left: -48%;
  }
}

@media (max-width: 700px) {
  .diet {
  /*  margin-left:
    margin-top: -5px;*/
    position: absolute;
    top: 10px;
    left: 50px;
    
  }

  .meal-type {
    margin-left: -327px; /* Adjust the left margin as needed */
    margin-top: 1.2px; /* Adjust the top margin as needed */
  }
  .health {
    margin-left: -326.6px; /* Adjust the left margin as needed */
    margin-top: -1.7px; /* Adjust the top margin as needed */
  }

  .list {
    position: absolute;
    top: 49px;
    left: -326.52px;
  }

  .list2 {
    position: absolute;
    top: 95px;
    left: 0px;
  }

  .list3 {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.app .list, .list2, .list3 {
  list-style-type: none;
}

.app .diet-items, .meal-type-items, .health-items{
  background-color: #f9f9f9;
  z-index: 1;
  color: black;
  position: relative;
  top: 8%;
  left: 381.5%;
  padding: 12px 16px;
  pointer-events: auto;
}

.app .diet, .meal-type, .health {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  pointer-events: none;
}

.app .meal-type-items {
  position: relative;
  top: 14.183%;
  left: 341.5%;
}

.app .health-items {
  position: relative;
  top: 345.55%;
  left: 283%;
}

.app .list3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}